<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        require('amcharts3/amcharts/amcharts');
        require('amcharts3/amcharts/pie');
        require('amcharts3/amcharts/themes/light');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script> window.jQuery = window.$ = require('jquery'); </script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../model/fct.js"></script>

    <script>
        getCAJournalier(function(err,data){
            if (err) {
                // error handling code goes here
                console.log(err);
            } else {
                drawChart(data, "chartDiv");
            }
        });

        getStatsTables(function(err,data){
            if (err) {
                // error handling code goes here
                console.log(err);
            } else {
                drawChart(data, "chartDivTable");
            }
        });
    </script>

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <logo></logo>
            <script>
                $('logo').load('logoApp.html');
            </script>
            <div id="monNom" class="pull-right" style="color: white;size: 15px">
                <a class="navbar-brand" href="index.html">
                    <script>
                        getName(function(err,data){
                            if (err) {
                                // error handling code goes here
                                console.log(err);
                            } else {
                                // code to execute on data retrieval
                                var outputDiv = document.getElementById('monNom');
                                outputDiv.innerHTML = 'Bienvenue, ' + data;
                            }
                        });
                    </script>
                </a>
            </div>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <monMenu></monMenu>
                <script>
                    if(sessionStorage.getItem('idPole')==4){
                        $('monMenu').load('menuDirecteur.html');
                    }else{
                        alert('Problème de données.');
                    }
                </script>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div id="chartDivTable" style="height: 20em"></div>
                                </div>
                                <!-- INSERT ANCIEN DASHBOARD -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="chartDiv" style="height: 20em"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div id="chartDivTwo"></div>
                                    TEST
                                </div>
                                <!-- INSERT ANCIEN DASHBOARD -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        TEST
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            <!-- /.row -->
            </div>
        <!-- /.container-fluid -->
        </div>
    <!-- /#page-wrapper -->
    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js"></script>

<!--
                                <div class="table-responsive">
                                    <div id="ligneTab">
                                        <script>
                                            getLesServicesDivers(function(err,data){
                                                if (err) {
                                                    // error handling code goes here
                                                    console.log(err);
                                                } else {
                                                    var ligne = document.getElementById('ligneTab');
                                                    var contenu;

                                                    contenu ='<table class="table">' +
                                                        '<thead>' +
                                                        '<tr>' +
                                                        '<th>Chambre</th>' +
                                                        '<th>Demandeur</th>' +
                                                        '<th>Objet</th>' +
                                                        '<th>Demande</th>' +
                                                        '<th>Statut</th>' +
                                                        '</tr>' +
                                                        '</thead>' +
                                                        '<tbody>';

                                                    for(var i= 0; i < data.length; i++)
                                                    {
                                                        if(data[i].etatDemande == 0){
                                                            contenu += '<tr class="danger">';
                                                        }else if(data[i].etatDemande == 1){
                                                            contenu += '<tr class="success">';
                                                        }else if(data[i].etatDemande == 2){
                                                            contenu += '<tr class="warning">';
                                                        }
                                                        contenu += '<td>' + data[i].nbLit + '</td>';
                                                        contenu += '<td class="col-md-2">' + data[i].nomClient;
                                                        contenu += ' ' + data[i].prenomClient + '</td>';
                                                        contenu += '<td class="col-md-2"><a onclick="voirDemandeService('+data[i].id_service+')">' + data[i].objetService + '</a></td>';
                                                        //contenu += '<td>' + data[i].demanderService + '</td>';
                                                        contenu += `<td> ${data[i].demanderService} </td>`;
                                                        if(data[i].etatDemande == 0){
                                                            contenu += "<td class='col-md-1' style='color: red;'><i class='fa fa-times fa-fw'></i></td>";
                                                        }else if(data[i].etatDemande == 1){
                                                            contenu += "<td class='col-md-1' style='color: green;'><i class='fa fa-check fa-fw'></i></td>";
                                                        }else{
                                                            contenu += "<td class='col-md-1' style='color: orange;'><i class='fa fa-clock-o fa-fw'></i></td>";
                                                        }
                                                        contenu += '</tr>';
                                                    }

                                                    contenu += '</tbody>';
                                                    contenu += '</table>';

                                                    ligne.innerHTML = contenu;
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>-->
</body>
</html>

