<ul class="nav" id="side-menu">
    <li>
        <a href="restauration.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="creationMenu.html"><i class="fa fa-table fa-fw"></i> Menus</a>
    </li>
    <li>
        <a href="tarifTVA.html"><i class="fa fa-edit fa-fw"></i> Tarifs & TVA</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Alertes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="alertesRestauration.html"><i class="fa fa-eye fa-fw"></i> Consulter les alertes</a>
            </li>
            <li>
                <a href="redigerAlerteRestauration.html"><i class="fa fa-edit fa-fw"></i> Rédiger une alertes</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#" onclick="deconnexion()" id="deconnexion"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
    </li>
</ul>