<ul class="nav" id="side-menu">
    <li>
        <a href="hebergement.html"><i class="fa fa-dashboard fa-fw"></i> Tableaux de bord</a>
    </li>
    <li>
        <a href="centralReservationChambre.html"><i class="fa fa-book fa-fw"></i> Centrales de réservations</a>
    </li>
    <li>
        <a href="gestionAgences.html"><i class="fa fa-building fa-fw"></i> Agences de voyages</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Alertes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="consulterAlertes.html"><i class="fa fa-eye fa-fw"></i> Consulter les alertes</a>
            </li>
            <li>
                <a href="redigerAlerte.html"><i class="fa fa-edit fa-fw"></i> Rédiger une alertes</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#" onclick="deconnexion()" id="deconnexion"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
    </li>
</ul>