<ul class="nav" id="side-menu">
    <li>
        <a href="directeurGenerale.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-cutlery fa-fw"></i> Restauration<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="creationMenu.html"><i class="fa fa-table fa-fw"></i> Menus</a>
            </li>
            <li>
                <a href="tarifTVA.html"><i class="fa fa-edit fa-fw"></i> Tarifs menu & TVA</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-home fa-fw"></i> Hébergement<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="centralReservationChambre.html"><i class="fa fa-book fa-fw"></i> Centrales de réservations</a>
            </li>
            <li>
                <a href="gestionAgences.html"><i class="fa fa-building fa-fw"></i> Agences de voyages</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> Réception<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="facturesReception.html"><i class="fa fa-money fa-fw"></i> Facture</a>
            </li>
            <li>
                <a href="reception.html"><i class="fa fa-eye fa-fw"></i> Visualiser les demandes</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Alertes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="consulterAlertes.html"><i class="fa fa-eye fa-fw"></i> Consulter les alertes</a>
            </li>
            <li>
                <a href="redigerAlerte.html"><i class="fa fa-edit fa-fw"></i> Rédiger une alertes</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#" onclick="deconnexion()" id="deconnexion"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
    </li>
</ul>