<ul class="nav" id="side-menu">
    <li>
        <a href="reception.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="facturesReception.html"><i class="fa fa-money fa-fw"></i> Facture</a>
    </li>
    <li>
        <a href="reception.html"><i class="fa fa-eye fa-fw"></i> Visualiser les demandes</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Alertes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="alertesReception.html"><i class="fa fa-eye fa-fw"></i> Consulter les alertes</a>
            </li>
            <li>
                <a href="redigerAlerteReception.html"><i class="fa fa-edit fa-fw"></i> Rédiger une alertes</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#" onclick="deconnexion()" id="deconnexion"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
    </li>
</ul>