<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Permet d'effectuer une réduction au client et visualiser ses lignes de factures.">
    <meta name="author" content="PINTO Dani">

    <!-- jQuery -->
    <script> window.jQuery = window.$ = require('jquery'); </script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../model/fct.js"></script>

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <logo></logo>
            <script>
                $('logo').load('logoApp.html');
            </script>
            <div id="monNom" class="pull-right" style="color: #28a745;font-size:30px;font-family: Roboto">
                <a class="navbar-brand" href="index.html">
                    <script>
                        getName(function(err,data){
                            if (err) {
                                // error handling code goes here
                                console.log(err);
                            } else {
                                // code to execute on data retrieval
                                var outputDiv = document.getElementById('monNom');
                                outputDiv.innerHTML = '&nbsp;Bienvenue, ' + data;
                            }
                        });
                    </script>
                </a>
            </div>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <monMenu></monMenu>
                <script>
                    if(sessionStorage.getItem('idPole')==4){
                        $('monMenu').load('menuDirecteur.html');
                    }else{
                        $('monMenu').load('menuReception.html');
                    }
                </script>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Modification d'une facture</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form>
                                        <div id="ligneTab">
                                            <script>
                                                getLaFacture(function(err,data){
                                                    if (err) {
                                                        // error handling code goes here
                                                        console.log(err);
                                                    } else {
                                                        let ligne = document.getElementById('ligneTab');
                                                        let contenu;
                                                        let prixTotal = 0;

                                                        contenu ='<table class="table">' +
                                                            '<thead>' +
                                                            '<tr>' +
                                                            '<th>Type réservation</th>' +
                                                            '<th>Prix réservation</th>' +
                                                            '<th></th>' +
                                                            '</tr>' +
                                                            '</thead>' +
                                                            '<tbody>';

                                                        for(var i= 0; i < data.length; i++)
                                                        {
                                                            prixTotal += data[i].prixReservation;

                                                            contenu += '<tr>';
                                                            contenu += '<td>' + data[i].typeResarvation + '</td>';
                                                            contenu += '<td>' + data[i].prixReservation + '€</td>';
                                                            contenu += '<td><i class="fa fa-times fa-fw" style="color:red;" onclick="supprimerLigneFactures('+data[i].id_reservation+')"></i></td>';
                                                            contenu += '</tr>';
                                                        }

                                                        contenu += '<tr>';
                                                        contenu += '<td></td>';
                                                        contenu += '<td class="text-right"><b>Prix total : </b></td>';
                                                        contenu += '<td><input class="col-md-3" disabled id="prixTotalFacture" value="' + prixTotal + '">€</td>';
                                                        contenu += '</tr>';

                                                        contenu += '</tbody>';
                                                        contenu += '</table>';

                                                        ligne.innerHTML = contenu;
                                                    }
                                                });
                                            </script>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>
                                                    Réduction : <input placeholder="%" type="number" min="0" max="100" id="reduction"/>
                                                </label>
                                            </div>
                                            <div class="pull-right col-md-4">
                                                <button type="submit" id="" onclick='validerFacture(sessionStorage.getItem("idClientFacture"),document.getElementById("prixTotalFacture").value)' class="btn btn-success">Valider</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js"></script>

</body>
</html>