<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        require('amcharts3/amcharts/amcharts');
        require('amcharts3/amcharts/pie');
        require('amcharts3/amcharts/themes/light');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script> window.jQuery = window.$ = require('jquery'); </script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../model/fct.js"></script>

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <logo></logo>
            <script>
                $('logo').load('logoApp.html');
            </script>
            <div id="monNom" class="pull-right" style="color: #28a745;font-size:30px;font-family: Roboto">
                <a class="navbar-brand" href="index.html">
                    <script>
                        getName(function(err,data){
                            if (err) {
                                // error handling code goes here
                                console.log(err);
                            } else {
                                // code to execute on data retrieval
                                var outputDiv = document.getElementById('monNom');
                                outputDiv.innerHTML = '&nbsp;Bienvenue, ' + data;
                            }
                        });
                    </script>
                </a>
            </div>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <monMenu></monMenu>
                <script>
                    if(sessionStorage.getItem('idPole')==4){
                        $('monMenu').load('menuDirecteur.html');
                    }else if(sessionStorage.getItem('idPole')==1){
                        $('monMenu').load('menuRestauration.html');
                    }else if(sessionStorage.getItem('idPole')==2){
                        $('monMenu').load('menuHebergement.html');
                    }else if(sessionStorage.getItem('idPole')==3){
                        $('monMenu').load('menuReception.html');
                    }
                </script>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Rédiger une alerte</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form>
                                <div class="row">
                                    <label>
                                        <div class="col-md-6">
                                            Objet :
                                        </div>
                                        <div class="col-md-6">
                                            <input required maxlength="30" id="objetDemande" type="text" name="objetDemande">
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <div class="col-md-6">
                                            Destinataire :
                                        </div>
                                        <div class="col-md-6">
                                            <select id="poles" name="poles">
                                                <script>
                                                    getLesPoles(function(err,data){
                                                        if (err) {
                                                            // error handling code goes here
                                                            console.log(err);
                                                        } else {
                                                            var ligne = document.getElementById('poles');
                                                            var contenu = "";

                                                            for(var i= 0; i < data.length; i++) {
                                                                contenu +='<option value="'+ data[i].id_pole +'">'+ data[i].nomPole +'</option>';
                                                            }
                                                            ligne.innerHTML = contenu;
                                                        }
                                                    });
                                                </script>
                                            </select>
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <div class="col-md-6">
                                            Message :
                                        </div>
                                        <div class="col-md-6">
                                            <textarea required placeholder="Décrivez votre besoin ici" id="descriptionDemande" name="descriptionDemande"></textarea>
                                        </div>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-md-push-3 col-md-2">
                                        <label>
                                            <button onclick="ajouterRapport(document.getElementById('objetDemande').value,document.getElementById('descriptionDemande').value,document.getElementById('poles').value)" class="btn pull-right btn-success" type="submit">Valider</button>
                                        </label>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js"></script>

</body>
</html>
